@media screen and (max-width: 768px) {
    
    .principal {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .principal .cajaImagen, 
    .principal .cajaPrincipalCatalogo {
        width: 100%;
        height: auto;
    }

    .cabezal {
        flex-direction: column;
        height: auto;
        padding: 10px 20px;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .menu ul li {
        margin: 10px 0;
    }

    .grillaCatalogo {
        margin: 0 10px;
        grid-template-columns: repeat(2, 1fr);
    }

    .producto {
        width: 100%;
        max-width: 220px;
    }

    .producto img {
        width: 100%;
        height: auto;
    }
}


@media screen and (min-width: 501px) and (max-width: 768px) {
    .grillaCatalogo {
        grid-template-columns: repeat(3, 1fr);
    }
}

.producto {
    min-width: 90px;
}
